{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/material.css' %}" />
{% endblock %}
{% block body %}
<div class="Style-module__VUE6IW__main">
    <section class="p-0 parallax overlap-height">
        <div class="lqd-vbg-wrap">
            <div class="lqd-vbg-inner">
                <span class="lqd-vbg-loader"></span>
                <div
                    class="inline-YTPlayer"
                    style="position:relative,max-width:100%"
                >
                <div
                    id="wrapper_YTP_1742270005228"
                    class="mbYTP_wrapper"
                    style="position:absolute;z-index:0;min-width:100%;min-height:100%;left:0px;top:0px;overflow:hidden;opacity:1;background-image:none;transition-duration:1000ms"
                >
                    <video
                        autoPlay
                        loop
                        muted
                        playsInline
                        class="h-full w-full background-video background-video1"
                        id="player"
                        >
                        <source src="https://d1ytpjko2pk6h2.cloudfront.net/Abutment+Milling.webm" type="video/webm" />
                        <source src="https://d1ytpjko2pk6h2.cloudfront.net/Abutment+Milling.mp4" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                </div>
                </div>
            </div>
            </div>
            <div class="opacity-full bg-gradient-fast-blue-purple"></div>
            <div class="container position-relative">
            <div
                class="row full-screen md-landscape-h-600px"
                style="height:600px"
            >
                <div class="col-12 col-xl-5 col-lg-6 col-md-7 col-sm-10 d-flex flex-column justify-content-center">
                <h1 class="video-title">
                    Materials
                </h1>
                <div class="alt-font text-large font-weight-500 text-uppercase letter-spacing-2px d-flex">
                    <span class="flex-shrink-0 w-40px h-1px bg-white opacity-6 align-self-center margin-25px-right"></span>
                    <span class="flex-grow-1 video-desc opacity-6">
                        Materials That Make Every Smile Matter.
                    </span>
                </div>
                </div>
            </div>
        </div>
    </section>
    <section class='materials-section' style="padding-top:40px">
            <div class='container'>
                <div class='row mb-sm-4 mb-md-5 mb-lg-5 mb-4'>
                    <h2 class='material-product-title text-center'>Zirconia (Full contour)</h2>
                    <div class='col-lg-4 order-lg-0 order-1 m-details-left'>
                        <div class='w-100 common-width'>
                            <span class='material-title'>Material</span>
                            <div class="border-grident" ></div>
                            <p>Monolithic super translucent zirconia</p>
                        </div>
                        <div class='w-100 common-width'>
                            <span class='material-title pt-3'>Method of manufacture</span>
                            <div class="border-grident"></div>
                            <p>Digitally designed & manufactured</p>
                        </div>
                        <div class='w-100 common-width'>
                            <span class='material-title pt-3'>Aesthetics</span>
                                <div class="border-grident"></div>
                                    <p>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                    </p>
                        </div>
                        <div class='w-100 common-width'>
                            <span class='material-title pt-3'>Shades </span>
                                <div class="border-grident"></div>
                                <p>No internal effects standard shades</p>
                        </div>
                    </div>
                    <div class='col-lg-4 d-flex justify-content-center align-items-center order-lg-1 order-0 ImageName'>
                        <img src="{% static '/img/zir12.webp' %}" class='img-fluid' alt="zirconia-product"></img> 
                    </div>
                    <div class='col-lg-4 order-lg-2 order-2 m-details-right'>
                        <div class='w-100' style="max-width:500px;margin:0 auto">
                            <span class='material-title'>Add-on options</span>
                            <div style="border-top:1.5px dashed #00798a;margin:10px 0"></div>
                            <p>Fit to denture</p>
                        </div>
                        <div class='w-100' style="max-width:500px;margin:0 auto">
                            <span class='material-title pt-3'>Benefits</span>
                                <div style="border-top:1.5px dashed #00798a;margin:10px 0"></div>
                                <p>	High durability extreme strength metal-free, exceptional accuracy</p>
                        </div>
                        <div class='w-100'style="max-width:500px; margin:0 auto">
                            <span class='material-title pt-3'>Strength</span>
                                <div style="border-top:1.5px dashed #00798a;margin:10px 0"></div>
                                <p>
                                    <i class="fa-solid fa-star" style="color:#fcd73f; margin-right:4px"></i>
                                    <i class="fa-solid fa-star" style="color:#fcd73f; margin-right:4px"></i>
                                    <i class="fa-solid fa-star" style="color:#fcd73f; margin-right:4px"></i>
                                    <i class="fa-solid fa-star" style="color:#fcd73f; margin-right:4px"></i>
                                    <i class="fa-solid fa-star" style="color:#fcd73f; margin-right:4px"></i>
                                </p>
                        </div>
                        <div class='w-100'  style="max-width:500px;margin:0 auto">
                            <span class='material-title pt-3'>Recommended use </span>
                                <div style="border-top:1.5px dashed #00798a;margin:10px 0"></div>
                                <p>Full mouth, single crowns</p>
                        </div>
                    </div>
                </div>
                <div class='row mb-sm-4 mb-md-5 mb-lg-5 mb-4'>
                    <h2 class='material-product-title text-center'>Zirconia (Layered)</h2>
                        <div class='col-lg-4 order-lg-0 order-1 m-details-left'>
                            <div class='w-100 common-width'>
                                <span class='material-title'>Material</span>
                                <div class="border-grident"></div>
                                <p>Zirconia (layered) coping with porcelain overlay</p>
                            </div>
                            <div class='w-100 common-width'>
                                <span class='material-title pt-3'>Method of manufacture</span>
                                <div class="border-grident"></div>
                                <p>Digitally designed & manufactured (Framework) & built up by hand</p>
                            </div>
                            <div class='w-100 common-width'>
                                <span class='material-title pt-3'>Aesthetics</span>
                                <div class="border-grident"></div>
                                <p>
                                    <i class="fa-solid fa-star star-icon"></i>
                                    <i class="fa-solid fa-star star-icon"></i>
                                    <i class="fa-solid fa-star star-icon"></i>
                                    <i class="fa-solid fa-star star-icon"></i>
                                    <i class="fa-solid fa-star star-icon"></i>
                                </p>
                            </div>
                            <div class='w-100 common-width'>
                                <span class='material-title pt-3'>Shades </span>
                                <div style="border-top:1.5px dashed #00798a;margin:10px 0"></div>
                                <p>No internal effects standard shades</p>
                            </div>
                        </div>
                        <div class='col-lg-4 d-flex justify-content-center align-items-center  order-lg-1 order-0 ImageName'>
                            <img src="{% static '/img/zirconia-layered.webp' %}" class='img-fluid' alt="zirconia-product"></img> 
                        </div>
                        <div class='col-lg-4  order-lg-2 order-2 m-details-right'>
                            <div class='w-100' style="max-width:500px;margin:0 auto">
                                <span class='material-title'>Add-on options</span>
                                <div style="border-top:1.5px dashed #00798a;margin:10px 0"></div>
                                <p>Fit to denture, rests and ledges </p>
                            </div>
                            <div class='w-100' style="max-width:500px;margin:0 auto">
                                <span class='material-title pt-3'>Benefits</span>
                                <div style="border-top:1.5px dashed #00798a;margin:10px 0"></div>
                                <p>Good fit metal-free</p>
                            </div>
                            <div class='w-100' style="max-width:500px;margin:0 auto">
                                <span class='material-title pt-3'>Strength</span>
                                <div style="border-top:1.5px dashed #00798a;margin:10px 0"></div>
                                <p>
                                    <i class="fa-solid fa-star" style="color:#fcd73f; margin-right:4px"></i>
                                    <i class="fa-solid fa-star" style="color:#fcd73f; margin-right:4px"></i>
                                    <i class="fa-solid fa-star" style="color:#fcd73f; margin-right:4px"></i>
                                    <i class="fa-solid fa-star" style="color:#fcd73f; margin-right:4px"></i>
                                    <i class="fa-regular fa-star" style="color:#fcd73f; margin-right:4px"></i>
                                </p>
                            </div>
                            <div class='w-100' style="max-width:500px;margin:0 auto">
                                <span class='material-title pt-3'>Recommended use </span>
                                <div style="border-top:1.5px dashed #00798a;margin:10px 0"></div>
                                <p>Full mouth, crowns & bridges</p>
                            </div>
                        </div>
                </div>
                <div class='row mb-sm-4 mb-md-5 mb-lg-5 mb-4'>
                    <h2 class='material-product-title text-center'>E.max CAD</h2>
                        <div class='col-lg-4 order-lg-0 order-1 m-details-left'>
                            <div class='w-100 common-width'>
                                <span class='material-title'>Material</span>
                                <div class="border-grident"></div>
                                <p>Ivoclar™ e.max lithium disilicate</p>
                            </div>
                            <div class='w-100 common-width'>
                                <span class='material-title pt-3'>Method of manufacture</span>
                                <div class="border-grident"></div>
                                <p>Digitally designed and manufactured</p>
                            </div>
                            <div class='w-100 common-width'>
                                <span class='material-title pt-3'>Aesthetics</span>
                                <div class="border-grident" ></div>
                                    <p>
                                        <i class="fa-solid fa-star star-icon" ></i>
                                        <i class="fa-solid fa-star star-icon" ></i>
                                        <i class="fa-solid fa-star star-icon" ></i>
                                        <i class="fa-solid fa-star star-icon" ></i>
                                        <i class="fa-solid fa-star star-icon" ></i>
                                    </p>
                            </div>
                            <div class='w-100 common-width'>
                                    <span class='material-title pt-3'>Shades </span>
                                    <div class="border-grident"></div>
                                    <p>Customised shading</p>
                            </div>
                        </div>
                        <div class='col-lg-4 d-flex justify-content-center align-items-center  order-lg-1 order-0 ImageName'>
                            <img src="{% static '/img/cad-max-new.webp' %}" class='img-fluid' alt="zirconia-product"></img> 
                        </div>
                        <div class='col-lg-4  order-lg-2 order-2 m-details-right'>
                            <div class='w-100 common-width'>
                                <span class='material-title'>Add-on options</span>
                                    <div class="border-grident" ></div>
                                    <p>x </p>
                            </div>
                            <div class='w-100 common-width'>
                                    <span class='material-title pt-3'>Benefits</span>
                                    <div class="border-grident"></div>
                                    <p>Premium aesthetics excellent fit metal-free</p>
                            </div>
                            <div class='w-100 common-width'>
                                    <span class='material-title pt-3'>Strength</span>
                                    <div  class="border-grident"></div>
                                    <p>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                    </p>
                            </div>
                            <div class='w-100 common-width'>
                                    <span class='material-title pt-3'>Recommended use </span>
                                    <div class="border-grident"></div>
                                    <p>Full mouth, crowns, inlays/onlays veneers, 3/4 crowns</p>
                            </div>
                        </div>
                </div>
                <div class='row mb-sm-4 mb-md-5 mb-lg-5 mb-4'>
                    <h2 class='material-product-title text-center'>Pressed E.max</h2>
                        <div class='col-lg-4 order-lg-0 order-1 m-details-left'>
                            <div class='w-100 common-width'>
                                    <span class='material-title'>Material</span>
                                    <div class="border-grident"></div>
                                    <p>Ivoclar™ e.max lithium disilicate</p>
                            </div>
                            <div class='w-100 common-width'>
                                    <span class='material-title pt-3'>Method of manufacture</span>
                                    <div class="border-grident"></div>
                                    <p>Waxed & pressed by hand</p>
                            </div>
                            <div class='w-100 common-width'>
                                    <span class='material-title pt-3'>Aesthetics</span>
                                    <div class="border-grident"></div>
                                    <p>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                    </p>
                            </div>
                            <div class='w-100 common-width'>
                                    <span class='material-title pt-3'>Shades </span>
                                    <div  class="border-grident"></div>
                                    <p>Customised shading</p>
                            </div>
                        </div>
                        <div class='col-lg-4 d-flex justify-content-center align-items-center  order-lg-1 order-0 ImageName'>
                            <img src="{% static '/img/emax-pressed.webp' %}" class='img-fluid' alt="zirconia-product"></img> 
                        </div>
                        <div class='col-lg-4 order-lg-2 order-2 m-details-right'>
                            <div class='w-100 common-width'>
                                    <span class='material-title'>Add-on options</span>
                                    <div class="border-grident"></div>
                                    <p>x </p>
                            </div>
                            <div class='w-100 common-width'>
                                    <span class='material-title pt-3'>Benefits</span>
                                    <div class="border-grident"></div>
                                    <p>Premium aesthetics metal-free</p>
                            </div>
                            <div class='w-100 common-width'>
                                    <span class='material-title pt-3'>Strength</span>
                                    <div class="border-grident"></div>
                                    <p>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                        <i class="fa-solid fa-star star-icon"></i>
                                    </p>
                            </div>
                            <div class='w-100 common-width'>
                                    <span class='material-title pt-3'>Recommended use </span>
                                    <div class="border-grident"></div>
                                    <p>Full mouth, crowns, inlays/onlays veneers, 3/4 crowns</p>
                            </div>
                        </div>
                </div>
            </div>
    </section>
</div>
{% endblock %}
{% block js %}
{% endblock %}